
@using FinalMelkBin.Models;


@{
    TheFinalMelkobinEntities Context = new TheFinalMelkobinEntities();
    long IdEquipment = Convert.ToInt64(ViewBag.IdEquipment);
    var Equipment = Context.equipments.Where(p => p.id == IdEquipment).Select(p => new { p.title,p.adminComment,p.film, CityName = p.city.cityName, p.mobile, SubCityName = p.subCity.subCityname, p.email, p.description,EquipmentCat = p.equipmentCategori.namee, EquipmentSubName = p.equipmentSubCategori.namee, p.price, p.userType ,FullName=p.equipmetUser.fullName,p.imageUrl}).FirstOrDefault();
    var Pictures = Context.equipmentPictures.Where(p => p.id == IdEquipment).Select(p => new { p.id, p.url }).ToList();
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/Images/favicon.ico' />

    <link href="~/css/entypo.css" rel="stylesheet">

    <link href="~/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/css/plugins/css3-animate-it-plugin/animations.css" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/chartist/chartist.min.css" rel="stylesheet">
    <link href="~/css/mouldifi-core.css" rel="stylesheet">


    <link href="~/css/mouldifi-forms.css" rel="stylesheet">
    <link href="~/css/plugins/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="~/js/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet">

    <link href="~/css/bootstrap-rtl.min.css" rel="stylesheet">

    <link href="~/css/mouldifi-rtl-core.css" rel="stylesheet">
    <link href="~/css/Index.css" rel="stylesheet" />
    <title>ShowMelkInformation</title>
</head>
<body>
    <div class="panel panel-success">

        <div class="panel-heading" style="text-align:center"><h3>اطلاعات  @Equipment.title </h3></div>

    </div>
    <div class="dt-body-center">
        <table class="table text-center table-responsive table-bordered table-hover">
            <tr>
                <th class="text-center text-info">عنوان</th>
                <th class="text-center text-info">ویژگی</th>
            </tr>

            <tr>
                <th class="text-center">نام و نام خانوادگی</th>

                <th class="text-center">@Equipment.FullName</th>

            </tr>
            <tr>
                <th class="text-center">موبایل</th>

                <th class="text-center">@Equipment.mobile</th>

            </tr>
            <tr>
                <th class="text-center">نشانی پستی</th>

                <th class="text-center">@Equipment.email</th>

            </tr>
            <tr>
                <th class="text-center"> استان</th>

                <th class="text-center">@Equipment.CityName</th>

            </tr>
            <tr>
                <th class="text-center"> شهرستان</th>

                <th class="text-center">@Equipment.SubCityName</th>

            </tr>


            <tr>
                <th class="text-center"> توضیحات</th>

                <th class="text-center">@Equipment.description</th>

            </tr>

            <tr>
                <th class="text-center"> گروه </th>

                <th class="text-center">@Equipment.EquipmentCat</th>

            </tr>
            <tr>
                <th class="text-center">  زیر گروه</th>

                <th class="text-center">@Equipment.EquipmentSubName</th>

            </tr>
            <tr>
                <th class="text-center">  قیمت</th>

                <th class="text-center">@Equipment.price</th>

            </tr>




            <tr>
                <th class="text-center">نوع کاربر</th>

                @if (Equipment.userType == 0)
                {
                    <th class="text-center">عادی</th>
                }
                @if (Equipment.userType == 1)
                {

                    <th class="text-center">سازمانی</th>
                }

            </tr>

            <tr>
                <th class="text-center">  تصویر اصلی</th>


                <th style="width:60px;height:70px;"><img src="@Equipment.imageUrl" style="width:60px;height:70px;" /></th>


            </tr>
            <tr>
                <th class="text-center">  دیگر تصاویر</th>
                <th style="width:60px;height:70px;">
                    @foreach (var pics in Pictures)
                    {
                        <img src="@pics.url" style="width:60px;height:70px;" />
                    }

                </th>
            </tr>

            <tr>
                <th class="text-center"> فیلم آگهی</th>
                <th style="width:60px;height:70px;"><video src="@Equipment.film" style="width:60px;height:70px;"></video></th>


            </tr>
            <tr>
                <th class="text-center"> نظرکارشناس</th>
                @if (Equipment.adminComment != null)
                {
                    <th class="text-center">@Equipment.adminComment</th>
                }
                @if (Equipment.adminComment == null)
                {
                    <th class="text-center">بدون نظر</th>
                }




            </tr>






        </table>
    </div>
</body>
</html>

